.background {
    background: url(./images/background.png) ;
    background-size: cover
}

.left {
    float: left;
}

.right {
    float: right;
}

.title {
    font-size: 60px;
    color: white;
    position: relative;
    left: 50px;
    top: 4em
}

.left-main {
    width: 50%;
    height: 800px;
}